body{
	padding: 0;
	margin: 0;
	background: #e2e2e2;
}

a{
	color: #556;
	text-decoration: none;
}

a:active, a:visited{
	color: #778087;
	text-decoration: none;
}

.top{
	height: 44px;
	line-height: 44px;
	font-size: 15px;
	background-color: #fff;
	text-align: left;
 	border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}
.top-wrap{
	width: 970px;
	margin: 0 auto;
}
.top-wrap span.title{
	font-size: 20px;
	font-weight: 500;
}
.top-wrap .right-top{
	float: right;
}

.wrapper{
	width: 970px;
	margin: 0 auto;
	font-size: 0;
}
.main{
	width: 680px;
	font-size: 16px;
	display: inline-block;
	background-color: #fff;
}
.node {
	padding: 10px;
	width: 100%;
}
.subnode{
	width: 100%;
	padding: 10px;
	background-color: #f9f9f9
}
.subnode .right-a{
	float: right;
}
.post {

}

.right-bar{
	width: 270px;
	font-size: 16px;
	display: inline-block;
}

